*.v.d
*.glob
*.vo
*.cmo
*.cma
*.cmx
*.cmxs
*.cmi
*.o
*.native
*.aux
*.bak
*.swp
Makefile.coq
*~

# Ignore files built from configure.sh
Makefile.theory
Makefile.refine

# Also ignore files built in paramcoq's dir
*.d
paramcoq.a
paramcoq.cmxa
paramcoq_mod.ml
